---
:number_of_accounts:		"3"
:id1: 						"76561198026727257"
:twitter1:	 				"dasinking"
:accnr1:			 		"1"
:major1:					"0"
:id2: 						"INSERT STEAMID64 HERE"
:twitter2:	 				"INSERT TWITTER USERNAME HERE"
:accnr2:			 		"INSERT NUMBER OF ACCOUNT HERE"
:major1:					"INSERT 1 IF YOU WANT TO ACTIVATE THE MAJOR MODE"
:id3: 						"just insert as many accounts as you want"
:twitter3:	 				"please dont abuse the username setting :( "
:accnr3:			 		"this number is just for alt accounts from you, so you know on which account you got the drop"
:major1:					"major mode = only souvenirs will be tweeted. no cases, skins, etc."